@{
    ViewData["Title"] = "Pocetna stranica";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli</h1>
    <p>Ova web aplikacija je jednostavan mini projekat koji demonstrira primenu CRUD funkcija nad bazom podataka uz korišćenje ASP.NET Core MVC.</p>
    <p>Baza podataka čuva pitanja i odgovore i ona se mogu dodavati, prikazati, uređivati i uklanjati iz baze.</p>
    <p>Klikom na karticu "Sva pitanja", biće vam predstavljen spisak svih pitanja koja se nalaze u bazi podatka, kao i opcije za dodavanje novih pitanja, prikazivanje, uređivanje i brisanje postojećih.</p>
    <p>Kartica "Nasumično pitanje" će prikazati nasumično pitanje iz baze podataka i klikom na dugme "Prikaži odgovor", možete videti i odgovor na isto.</p>
    <p>Na kraju, klikom na karticu "Pretraga", imate mogućnost da pretražujete bazu podataka pitanja pomoću ključne reči.</p>
</div>
