@model QuizzWebApp.Models.Question

@{
    ViewData["Title"] = "Details";
}



<div style="padding: 0px 20px 20px">
    <h1>Pitanje</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Pitanje:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.quizzQuestion)
        </dd>
        <dt class="col-sm-2">
            Odgovor:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.quizzAnswer)
        </dd>
    </dl>
</div>
<div style="padding: 0px 20px 20px">
    <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> |
    <a asp-action="Index">Nazad na listu</a>
</div>
